# Node.js dependencies
node_modules
npm-debug.log*
yarn-error.log*

# Git & CI/CD
.git

# Logs
logs
*.log

# Test & coverage files
coverage
.nyc_output

# Linting & config files
README.md

# IDE & editor files
.vscode
.idea
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db